<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8" />
<style>
    body{
        width:600px;
        margin: 0 auto;
        padding: 3rem;
    }
    article{
        background-color: #eee;
        padding: 2rem;
    }
    section{
        padding: 1rem;
    }
    #item{
        background-color: blanchedalmond;;
    }
    #pay{
        background-color: powderblue;;
    }
    img{
        width:50%;
    }
    label{
        font-size: 1.5rem;
    }
</style>
</head>
<body>
    <main>
        <article>
            <h2>Pay.jp のサンプル</h2>
            <p>テストカードで決済のため、課金されませんし、商品も届きません、架空の世界です。</p>
            <ul>
                <li><a href="./payjp2">パターン１</a></li>
                <li><a href="./payjp-form">パターン２</a></li>
            </ul>
        </article>
    </main>
</body>
</html>