<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8" />
<style>
    body{
        width:600px;
        margin: 0 auto;
        padding: 3rem;
    }
    article{
        background-color: #eee;
        padding: 2rem;
    }
    section{
        padding: 1rem;
    }
    #item{
        background-color: blanchedalmond;;
    }
    #pay{
        background-color: powderblue;;
    }
    img{
        width:50%;
    }
    label{
        font-size: 1.5rem;
    }
</style>
</head>
<body>
    <main>
        <article>
            <section id="item">
                <h2>Thank you</h2>
                <p>ご注文内容</p>
                <ul>
                    <li>お買い上げ商品：{{item_name}}</li>
                    <li>金額：{{item_price}}</li>
                </ul>
                <ul>
                    <li>お客様名：{{name}}</li>
                    <li>メールアドレス：{{email}}</li>
                    <li>お届け先：{{address}}</li>
                    
                </ul>
            </section>
            <hr>
            <p><a href="https://pythonchannel.com">町のWeb屋 大島</a></p>
            <hr>
            <a href="javascript:history.back()">戻る</a>

        </article>
    </main>
</body>

</html>